{% if product.available %}
  {% liquid
    assign has_discount = false

    assign compare_at_price = product.compare_at_price
    assign price = product.price

    if compare_at_price > price
      assign has_discount = true
      assign discount_amount = compare_at_price | minus: price
      assign discount_percentage = discount_amount | times: 100.0 | divided_by: compare_at_price | round
    endif

    assign first_media_class = 'product-image group-hover:tw-opacity-0 tw-relative tw-z-10 tw-transition-all tw-duration-300'

    assign second_media = product.media[1]

    if second_media == blank
      assign first_media_class = 'product-image'
    endif
  %}
  <a href="/products/{{ product.handle }}" class="tw-font-best-seller lg:tw-w-[355px] swiper-slide">
    <div class="tw-relative tw-mb-3 lg:tw-mb-4 tw-group">
      {% for tag in product.tags %}
        {% if tag contains 'Best Seller' %}
          {% render 'product-card-tags', tag_text: 'Best Seller', is_discount: false %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% render 'swappable-product-card-media', first_media_class: first_media_class, second_media: second_media, product: product %}
      {% if has_discount == true %}
        {% assign discount_text = 'Save ' | append: discount_percentage | append: '%' %}
        {% render 'product-card-tags', tag_text: discount_text, is_discount: has_discount %}
      {% endif %}
    </div>
    <div class="tw-flex tw-px-2 tw-flex-col tw-gap-2 lg:tw-w-[355px] lg:tw-px-3">
      <p class="tw-text-base md:tw-text-lg" style="color: {{ section.settings.color_scheme.settings.text }};">
        {{ product.title }}
      </p>
      <div class="tw-flex tw-gap-1 md:tw-gap-[5px] tw-items-center">
        <span class="tw-flex">
          {% for i in (1..5) %}
            {% render 'review-star-icon' %}
          {% endfor %}
        </span>
        <p class="tw-font-best-seller-price tw-font-normal tw-text-[#707070] tw-text-[11px] md:tw-text-sm">
          1,234 Reviews
        </p>
      </div>
      <div
        class="tw-text-base md:tw-text-lg lg:tw-text-base tw-font-best-seller-price tw-font-medium"
        style="color: {{ section.settings.color_scheme.settings.text }};"
      >
        {{ price | money }}
      </div>
    </div>
  </a>
{% endif %}
