{% style %}
  .{{ section.id }} .show-more-div:has( ~ #show-more-{{ section.id }}:checked) {
    max-height: 9999px;
    transition: max-height 0.3s ease-in-out;
  }

  .{{ section.id }} #show-more-{{ section.id }}:checked ~ label::after {
    content: "Show less";
    display: block;
  }

  .{{ section.id }} #show-more-{{ section.id }}:not(:checked) ~ label::after {
    content: "Show more";
    display: block;
  }
{% endstyle %}

<div class="tw-py-6 tw-px-9 {{ section.id }} lg:tw-py-[82px] lg:tw-px-0 lg:tw-relative" id="best-seller-section-{{ section.id }}">
  <div
    class="tw-mb-6 md:tw-mb-[30px] lg:tw-mb-[38px] lg:tw-flex lg:tw-justify-between lg:tw-px-32 lg:tw-items-center"
    id="best-seller-section-title-{{ section.id }}"
  >
    <a
      class="tw-font-best-seller-title tw-text-center tw-text-{{ section.settings.size_mobile }} md:tw-text-{{ section.settings.size_tablet }} lg:tw-text-{{ section.settings.size_desktop }} tw-font-{{ section.settings.weight }}"
      href="{{ section.settings.link-url }}"
      style="color: {{ section.settings.color_scheme.settings.text }};"
    >
      {{ section.settings.title }}
    </a>
    <a
      class="tw-hidden lg:tw-flex lg:tw-gap-2 lg:tw-text-{{ section.settings.link_size }} lg:tw-font-{{ section.settings.link_weight }} lg:tw-underline"
      href="{{ section.settings.link-url }}"
      style="color: {{ section.settings.color_scheme.settings.shadow }};"
    >
      {{ section.settings.link_text }}
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.33334 10H16.6667M16.6667 10L11.6667 5M16.6667 10L11.6667 15" stroke="{{ section.settings.color_scheme.settings.shadow }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  <div
    class="tw-mb-3 md:tw-mb-4 tw-max-h-[572px] md:tw-max-h-[746px] lg:tw-h-[519px] lg:tw-max-h-none tw-overflow-hidden tw-transition-all tw-duration-300 show-more-div swiper"
    id="best-seller-section-products-{{ section.id }}"
  >
    <div class="tw-grid-cols-2 tw-gap-3 lg:tw-gap-0 slider-wrapper swiper-wrapper">
      {% for block in section.blocks %}
        {% assign product = block.settings['best-selling-product'] %}
        {% if product.available %}
          {% liquid
            assign has_discount = false

            assign compare_at_price = product.compare_at_price
            assign price = product.price

            if compare_at_price > price
              assign has_discount = true
              assign discount_amount = compare_at_price | minus: price
              assign discount_percentage = discount_amount | times: 100.0 | divided_by: compare_at_price | round
            endif

            assign first_media_class = 'product-image group-hover:tw-opacity-0 tw-relative tw-z-10 tw-transition-all tw-duration-300'
            if product.media[1] != blank
              assign first_media_class = 'product-image'
            endif
          %}
          <a href="/products/{{ product.handle }}" class="tw-font-best-seller lg:tw-w-[355px] swiper-slide">
            <div class="tw-relative tw-mb-3 lg:tw-mb-4 tw-group">
              {% for tag in product.tags %}
                {% if tag contains 'Best Seller' %}
                  <span
                    class="product-image-tag tw-left-1 md:tw-left-2"
                    style="background-color: {{ section.settings.color_scheme.settings.background }}; color: {{ section.settings.color_scheme.settings.text }}; border-color: {{ section.settings.color_scheme.settings.secondary_button_label }}"
                    >Best Seller
                  </span>
                  {% break %}
                {% endif %}
              {% endfor %}
              {{
                product.featured_media
                | image_url: width: 3200
                | image_tag:
                  widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                  class: first_media_class
              }}
              {% if product.media[1] != blank %}
                {% assign second_media = product.media[1] %}
                {% if second_media.media_type == 'image' %}
                  {{
                    product.media[1]
                    | image_url: width: 3200
                    | image_tag:
                      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                      class: 'tw-absolute tw-top-0 tw-opacity-0 group-hover:tw-opacity-100 product-image tw-z-[9] tw-transition-all tw-duration-300'
                  }}
                {% elsif second_media.media_type == 'video' %}
                  second is video
                {% endif %}
              {% endif %}
              {% if has_discount == true %}
                <span
                  class="product-image-tag tw-right-1 md:tw-right-2"
                  style="background-color: {{ section.settings.color_scheme.settings.shadow }}; color: {{ section.settings.color_scheme.settings.background }}; border-color: {{ section.settings.color_scheme.settings.secondary_button_label }}"
                >
                  Save {{ discount_percentage }}%
                </span>
              {% endif %}
            </div>
            <div class="tw-flex tw-px-2 tw-flex-col tw-gap-2 lg:tw-w-[355px] lg:tw-px-3">
              <p class="tw-text-base md:tw-text-lg" style="color: {{ section.settings.color_scheme.settings.text }};">
                {{ product.title }}
              </p>
              <div class="tw-flex tw-gap-1 md:tw-gap-[5px] tw-items-center">
                <span class="tw-flex">
                  {% for i in (1..5) %}
                    <svg
                      class="tw-w-[9px] tw-h-[9px] md:tw-w-3 md:tw-h-3"
                      width="9"
                      height="9"
                      viewBox="0 0 9 9"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4.7421 0.665844C4.58896 0.592831 4.41106 0.592831 4.25792 0.665844C4.12554 0.728962 4.05255 0.838551 4.01575 0.898671C3.97769 0.960823 3.93863 1.04 3.90056 1.11717L3.09216 2.7549L1.28389 3.0192C1.19877 3.03163 1.11143 3.04437 1.04059 3.06141C0.972051 3.07789 0.845335 3.11353 0.744493 3.21998C0.627834 3.34311 0.57297 3.51232 0.595178 3.68048C0.614375 3.82584 0.696066 3.92906 0.741891 3.98262C0.78926 4.03799 0.852504 4.09956 0.914141 4.15957L2.22206 5.43349L1.91345 7.23284C1.89888 7.31768 1.88394 7.40471 1.87818 7.47738C1.87262 7.54766 1.86724 7.67925 1.93725 7.80814C2.01824 7.95724 2.16219 8.06181 2.32902 8.09274C2.47324 8.11948 2.59672 8.07368 2.66184 8.04666C2.72917 8.01873 2.80733 7.9776 2.88351 7.93752L4.50001 7.08742L6.11652 7.93752C6.1927 7.97761 6.27085 8.01873 6.33818 8.04666C6.4033 8.07368 6.52678 8.11948 6.671 8.09274C6.83783 8.06181 6.98178 7.95724 7.06277 7.80814C7.13278 7.67925 7.1274 7.54766 7.12184 7.47738C7.11608 7.40472 7.10114 7.31769 7.08657 7.23285L6.77796 5.43349L8.08589 4.15956C8.14753 4.09955 8.21076 4.03798 8.25813 3.98262C8.30395 3.92906 8.38564 3.82584 8.40484 3.68048C8.42705 3.51232 8.37219 3.34311 8.25553 3.21998C8.15468 3.11353 8.02797 3.07789 7.95943 3.06141C7.88859 3.04437 7.80125 3.03163 7.71613 3.0192L5.90786 2.7549L5.09947 1.11719C5.0614 1.04002 5.02233 0.960828 4.98427 0.898671C4.94746 0.838551 4.87448 0.728962 4.7421 0.665844Z" fill="#231F20"/>
                    </svg>
                  {% endfor %}
                </span>
                <p class="tw-font-best-seller-price tw-font-normal tw-text-[#707070] tw-text-[11px] md:tw-text-sm">
                  1,234 Reviews
                </p>
              </div>
              <div
                class="tw-text-base md:tw-text-lg lg:tw-text-base tw-font-best-seller-price tw-font-medium"
                style="color: {{ section.settings.color_scheme.settings.text }};"
              >
                {{ price | money }}
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  <input type="checkbox" class="!tw-hidden peer" name="show-more-{{ section.id }}" id="show-more-{{ section.id }}">
  <label
    class="lg:tw-hidden tw-block tw-w-full tw-rounded-full tw-font-best-seller-price tw-text-base md:tw-text-lg tw-py-4 tw-text-center tw-font-semibold"
    for="show-more-{{ section.id }}"
    id="best-seller-section-show-more-button-{{ section.id }}"
    style="background-color: {{ section.settings.color_scheme.settings.button }}; color: {{ section.settings.color_scheme.settings.button_label }};"
  >
  </label>
</div>

{% schema %}
{
  "name": "Best Sellers Section",
  "tag": "section",
  "class": "best-sellers",
  "settings": [
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Best Sellers"
    },
    {
      "type": "select",
      "id": "size_mobile",
      "label": "Section title size mobile",
      "options": [
        {
          "value": "lg",
          "label": "Medium"
        },
        {
          "value": "xl",
          "label": "Large"
        },
        {
          "value": "2xl",
          "label": "Extra Large"
        },
        {
          "value": "mobile-size",
          "label": "3X Large"
        }
      ],
      "default": "mobile-size"
    },
    {
      "type": "select",
      "id": "size_tablet",
      "label": "Section title size tablet",
      "options": [
        {
          "value": "xl",
          "label": "Large"
        },
        {
          "value": "2xl",
          "label": "Extra Large"
        },
        {
          "value": "tablet-size",
          "label": "3X Large"
        }
      ],
      "default": "tablet-size"
    },
    {
      "type": "select",
      "id": "size_desktop",
      "label": "Section title size desktop",
      "options": [
        {
          "value": "2xl",
          "label": "Large"
        },
        {
          "value": "3xl",
          "label": "Extra Large"
        },
        {
          "value": "desktop-size",
          "label": "3X Large"
        }
      ],
      "default": "desktop-size"
    },
    {
      "type": "select",
      "id": "weight",
      "label": "Section title weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "semibold",
          "label": "Semi-Bold"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "header",
      "content": "Link Settings"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Section link text",
      "default": "Shop All Best Sellers"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Section link url"
    },
    {
      "type": "select",
      "id": "link_size",
      "label": "Section link size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "select",
      "id": "link_weight",
      "label": "Section link weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "semibold",
          "label": "Semi-Bold"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ],
      "default": "semibold"
    }
  ],
  "blocks": [
    {
      "type": "best-selling-products",
      "name": "Best selling product",
      "settings": [
        {
          "type": "product",
          "id": "best-selling-product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Sellers Section"
    }
  ]
}
{% endschema %}
