{% style %}
  .{{ section.id }} .show-more-div-container:has( ~ #show-more-{{ section.id }}:checked) .show-more-div {
    max-height: 9999px;
    transition: max-height 0.3s ease-in-out;
  }

  .{{ section.id }} #show-more-{{ section.id }}:checked ~ label::after {
    content: "Show less";
    display: block;
  }

  .{{ section.id }} #show-more-{{ section.id }}:not(:checked) ~ label::after {
    content: "Show more";
    display: block;
  }
{% endstyle %}

<div
  class="tw-py-6 tw-px-9 {{ section.id }} lg:tw-py-[82px] lg:tw-px-0 lg:tw-relative"
  id="best-seller-section-{{ section.id }}"
>
  <div
    class="tw-mb-6 md:tw-mb-[30px] lg:tw-mb-[38px] lg:tw-flex lg:tw-justify-between lg:tw-px-24 xl:tw-px-[234px] 2xl:tw-px-[112px] 3xl:tw-px-[234px] 4xl:tw-px-[316px]  lg:tw-mx-auto lg:tw-items-center"
    id="best-seller-section-title-{{ section.id }}"
  >
    <a
      class="tw-font-best-seller-title tw-text-center tw-text-{{ section.settings.size_mobile }} md:tw-text-{{ section.settings.size_tablet }} lg:tw-text-{{ section.settings.size_desktop }} tw-font-{{ section.settings.weight }}"
      href="{{ section.settings.link-url }}"
      style="color: {{ section.settings.color_scheme.settings.text }};"
    >
      {{ section.settings.title }}
    </a>
    <a
      class="tw-hidden lg:tw-flex lg:tw-gap-2 lg:tw-text-{{ section.settings.link_size }} lg:tw-font-{{ section.settings.link_weight }} lg:tw-underline"
      href="{{ section.settings.link-url }}"
      style="color: {{ section.settings.color_scheme.settings.shadow }};"
    >
      {{ section.settings.link_text }}
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.33334 10H16.6667M16.6667 10L11.6667 5M16.6667 10L11.6667 15" stroke="{{ section.settings.color_scheme.settings.shadow }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  {% render 'best-seller-shelves', section: section %}
</div>

{% schema %}
{
  "name": "Best Sellers Section",
  "tag": "section",
  "class": "best-sellers",
  "settings": [
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Best Sellers"
    },
    {
      "type": "select",
      "id": "size_mobile",
      "label": "Section title size mobile",
      "options": [
        {
          "value": "lg",
          "label": "Medium"
        },
        {
          "value": "xl",
          "label": "Large"
        },
        {
          "value": "2xl",
          "label": "Extra Large"
        },
        {
          "value": "mobile-size",
          "label": "3X Large"
        }
      ],
      "default": "mobile-size"
    },
    {
      "type": "select",
      "id": "size_tablet",
      "label": "Section title size tablet",
      "options": [
        {
          "value": "xl",
          "label": "Large"
        },
        {
          "value": "2xl",
          "label": "Extra Large"
        },
        {
          "value": "tablet-size",
          "label": "3X Large"
        }
      ],
      "default": "tablet-size"
    },
    {
      "type": "select",
      "id": "size_desktop",
      "label": "Section title size desktop",
      "options": [
        {
          "value": "2xl",
          "label": "Large"
        },
        {
          "value": "3xl",
          "label": "Extra Large"
        },
        {
          "value": "desktop-size",
          "label": "3X Large"
        }
      ],
      "default": "desktop-size"
    },
    {
      "type": "select",
      "id": "weight",
      "label": "Section title weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "semibold",
          "label": "Semi-Bold"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "header",
      "content": "Link Settings"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Section link text",
      "default": "Shop All Best Sellers"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Section link url"
    },
    {
      "type": "select",
      "id": "link_size",
      "label": "Section link size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "select",
      "id": "link_weight",
      "label": "Section link weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "semibold",
          "label": "Semi-Bold"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ],
      "default": "semibold"
    }
  ],
  "blocks": [
    {
      "type": "best-selling-products",
      "name": "Best selling product",
      "settings": [
        {
          "type": "product",
          "id": "best-selling-product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Sellers Section"
    }
  ]
}
{% endschema %}
